@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.no-gutter {
  padding: 0;
}

.clear-margin {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
a:hover{
  text-decoration: none;
}
.copyright {
  padding-top: 18px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 24px;
  color: #8a91ac;
}
.social-icons li {
  margin: 0 5px !important;
}
.social{
  color: #8a91ac;
}
hr{
  margin-bottom: 0;
}
.bg-construct {
  background-image: url(../img/construction.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media (max-width: 550px){
  .copyright, .copyright .social-icons {
    text-align: center;
    margin: 0 auto !important;
    /* display: block !important; */
  }
}

.navbar-main {
  background-color: #f6f5f5;
  box-shadow: 1px -1px 4px rgb(63, 60, 60);
}

.shades {
  height: 100%;
  width: 100%;
  background-color: #000000a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

.opps {}

.shades h1 {
  color: #f3cd03;
  text-align: center;
  line-height: 70px;
  letter-spacing: 5px;

}

.title {
  font-weight: 700;
  color: #000000;
  font-size: .9rem;
  margin-top: 5rem;
}

.sub-title {
  font-size: .8rem;
  font-weight: 600;
}